refresh fails on 401 status code

Hi,
my auth API returns a 401 when refreshing the token on init. I think the plugin cannot handle 401's:
![image](https://user-images.githubusercontent.com/16665512/29773781-361c7e38-8bff-11e7-8bad-f67474d1b1b8.png)

This prevents any following javascript from being executed (at least in my case).

Any help is greatly appreciated :)


No, it doesn't, this should be handled at app level. For instance a global api error interceptor that can check status number or perhaps a code sent back by the api.

I'm not sure what you mean about prevents any further javascript from executing...

When I set `refreshData: enabled` (call /refresh on init) and the refresh route returns 401 it throws the error in the picture. The javascript on the specific page i'm browsing builds up but does not execute any code inside the 'created' function of my component.
When i'm using a fresh browser window without a (invalid) token (-> no refresh ajax call) it all works fine.
When using a valid token (/refresh returns 200) everything works fine.
I tested a completely empty app starting component (no custom code) - error still occurs (it's component independent) 

I tried using an interceptor:
```
Vue.http.interceptors.push(function (request, next) {
  next(function (response) {
    if (response.status === 401) {
      console.log('test')
    }
  })
})
```
but the console.log happens before the promise error. I do not know, where I should intercept elsewhere. 
Also i'm not aware of using promises which could lead to a promise error.

API returns 
```
Request URL:http://localhost:8080/ajax/auth/refresh
Request Method:POST
Status Code:401 Unauthorized
```
Body:
```
{
  "code":401,
  "message":"Bad credentials"
}
```
Maybe error occurs of missing "token" key?

I'm not fully sure on what you're trying to do here. But if you're just trying to capture this 401 error from your server it seems you are on the right track with your interceptor.

You have successfully intercepted, just you aren't doing anything with it. The response for any request will always print out in dev tools. This one is just showing up as an error because it's 4xx series error. It doesn't mean anything crashed in your app.

Probably your interceptor should just do a redirect to some other page.





I am wondering how would you perform the $auth.logout process when capture a 401 in an interceptor?  I am not sure how can I get access to $auth in an interceptor. 

To my understand, vue-auth will always check if 'default_auth_token' is set, if so, it will send 'refresh' request(if it's enable). And without the 'logout' process, the default_auth_token will always be there, therefore, vue-auth will always check and will always return 401. This is why I want to do a logout process so that next time when user enters the page, the default_auth_token will be gone and no refresh request sent.

Can you please share your thought on this? Thanks.

@xxxxlr  Did you try `Vue.auth` inside your interceptor?

On a side note, the reason the plugin doesn't do anything here is because it's not always clear what the app/developers intention is with anyone particular code. A 401 could be handled in many different wasy. As could any other error code. You could also imagine competing plugins implementing a 401, this would wreak havoc. So it's best the app have a single handler for this. Typically an api will have an http status code and also an internal status code of the specific error.

@websanova I've actually just run into this, and I think vue-auth should be handling the 401 on attempted refreshes.  According to [RFC 6750 §3.1](https://tools.ietf.org/html/rfc6750#section-3.1):
```
   When a request fails, the resource server responds using the
   appropriate HTTP status code (typically, 400, 401, 403, or 405) and
   includes one of the following error codes in the response:
   [...]
   invalid_token
         The access token provided is expired, revoked, malformed, or
         invalid for other reasons.  The resource SHOULD respond with
         the HTTP 401 (Unauthorized) status code.  The client MAY
         request a new access token and retry the protected resource
         request.
```

I'd be willing to do a pull request to add this behavior, if you'd like.

This is for OAuth2, so I'm not sure it fully applies

It's also using WWW-Authenticate header, I think most apps are using "Authorization" header.

It would be nice if there was some standard way for for SPA to return error codes in response or header, but I'm not aware of it. This is why I just left it up to the app to decide.

For now, 401 can mean a few things and be handled a few ways. I've actually had some defaults here but seems lots of people wanted different behaviour.

I actually spent the night thinking about it, and I agree -- API 401 responses _should_ be handled by the app.  And yea, the RFC was for OAuth -- but close enough, right? :smile:

I guess this could just boil down to adding a note in documentation regarding error responses should be handled by the app as they're outside the scope of raw authentication?

@websanova Thanks for your reply.
I tried your suggestion in the interceptor and it works. Not sure if this is a good way though.

`Vue.auth.options.logoutProcess.call(Vue.auth, {}, {})`

Huh??

You can just call Vue.auth.logout()

On Sep 12, 2017 18:54, "xxxxlr" <notifications@github.com> wrote:

> @websanova <https://github.com/websanova> Thanks for your reply.
> I tried your suggestion in the interceptor and it works. Not sure if this
> is a good way though.
>
> Vue.auth.options.logoutProcess.call(Vue.auth, {}, {})
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/websanova/vue-auth/issues/233#issuecomment-328803699>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/ABkcy1BZD7lkWJxUKSUwDdUUr55KyF71ks5shlTigaJpZM4PEeRl>
> .
>


I tried that but it seemed that auth only had currentToken, options, watch in it in the interceptor.

Do you think it's because the setup as shown below?

`
// app.js file
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
import VueAuth from '@websanova/vue-auth'
...

Vue.use(VueAuth, {
    auth: require('@websanova/vue-auth/drivers/auth/bearer.js'),
    http: require('@websanova/vue-auth/drivers/http/axios.1.x.js'),
    router: require('@websanova/vue-auth/drivers/router/vue-router.2.x.js'),
    refreshData: {
      interval: 24 * 60 // min
    },
   ...
})

Vue.axios.interceptors.response.use((response) => {
  return response
}, function (error) {
  let originalRequest = error.config
  if (error.response.status === 401) {
    // Bypass the refresh 401 in axios level so it won't throw error that always breaks the app's execution.
    if (originalRequest.url.match(/api\/auth\/refresh$/)) {
      //NOT working
      Vue.auth.logout()
      //working
      //Vue.auth.options.logoutProcess.call(Vue.auth, {}, {})
      return true
    }
  }
  return Promise.reject(error)
})

...

const app = new Vue({
  router,
  store,
  render: h => h(App)
  // ...App
})

`

![image](https://user-images.githubusercontent.com/2407384/30363717-d0750a4a-9893-11e7-97fb-d3233ff50fc8.png)


Not sure what you're asking. I thought you just want to intercept and
logout?

On Sep 13, 2017 15:58, "xxxxlr" <notifications@github.com> wrote:

> I tried that but it seemed that auth only had currentToken, options, watch
> in it in the interceptor.
>
> Do you think it's because the setup as shown below?
>
> `
> // app.js file
> import Vue from 'vue'
> import axios from 'axios'
> import VueAxios from 'vue-axios'
> import VueAuth from ''
> ...
>
> Vue.use(VueAuth, {
> auth: require('/drivers/auth/bearer.js'),
> http: require('/drivers/http/axios.1.x.js'),
> router: require('/drivers/router/vue-router.2.x.js'),
> refreshData: {
> interval: 24 * 60 // min
> },
> ...
> })
>
> Vue.axios.interceptors.response.use((response) => {
> return response
> }, function (error) {
> let originalRequest = error.config
> if (error.response.status === 401) {
> // Bypass the refresh 401 in axios level so it won't throw error that
> always breaks the app's execution.
> if (originalRequest.url.match(/api/auth/refresh$/)) {
> //NOT working
> Vue.auth.logout()
> //working
> //Vue.auth.options.logoutProcess.call(Vue.auth, {}, {})
> return true
> }
> }
> return Promise.reject(error)
> })
>
> ...
>
> const app = new Vue({
> router,
> store,
> render: h => h(App)
> // ...App
> })
>
> `
>
> [image: image]
> <https://user-images.githubusercontent.com/2407384/30363717-d0750a4a-9893-11e7-97fb-d3233ff50fc8.png>
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/websanova/vue-auth/issues/233#issuecomment-329076941>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/ABkcy0Dayd-H2oMfFg9dBQeT78Hft_M6ks5sh30FgaJpZM4PEeRl>
> .
>


`Vue.auth.logout()` in the interceptor does what I was looking for. Thank you for your help!
Easy, straight forward solution, I just thought too complicated :)
@xxxxlr you might thinking about using vue-resource. I used axios too but switched back because of many problems. Vue-resource seems to be supported better. Just a hint of my experience.